<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <form>
        <div class="main-div">
            <div class="form-heading">
                <h2>Login</h2>
                <div class="login-form">
                    <div class="input-field">
                        <input type="text" placeholder="User Name">
                    </div>
                    <div class="input-field">
                        <input type="text" placeholder="Password">
                    </div>
                    <div class="button-div">
                    <button type="submit" class="btn" value="submit">Submit</button>
                    </div>
                </div>
            </div>
            <div class="account-div">
                <h6>I don't have account? <a href="#">register</a></h6>
            </div>
        </div>
    </form>
</body>
</html>