<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register page</title>
</head>
<body>
    <div class="main-div">
        <h1 id="logo">Register</h1>
        <form>
            <div class="signup-form">
                <div class="input-filed">
                    <div class="half-width">
                        <input type="text" placeholder="First name">
                    </div>
                    <div class="half-width">
                        <input type="text" placeholder="Sure name">
                    </div>
                    <div class="full-width">
                        <input type="text" placeholder="Mobile number">
                    </div>
                    <div class="full-width">
                        <input type="password" placeholder="Password">
                    </div>
                    <label>Date of birth</label>
                    <div class="dob-div">
                        <div class="quat-width">
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="quat-width">
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                        <div class="quat-width">
                            <select>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                            </select>
                        </div>
                    </div>
                    <label>Gender</label>
                    <div class="radio-div">
                            <div class="radio-btn">
                                <label class="radio-label">Female</label>
                                <input type="radio" class="radio-input">
                            </div>
                            <div class="radio-btn">
                                <label class="radio-label">Male</label>
                                <input type="radio" class="radio-input">
                            </div>
                            <div class="radio-btn">
                                <label class="radio-label">Custom</label>
                                <input type="radio" class="radio-input">
                            </div>
                        </div>
                        <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, ipsa! Lorem ipsum dolor sit amet.<a href=""> </a></small>
                        <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, expedita?Lorem ipsum dolor sit amet. </small>
                        <div class="button-div">
                            <button type="submit" class="signup-btn">SignUp</button>
                        </div>
                        <div class="account-div">
                            <a href="">Already have an account</a>
                        </div>
                     </div>
                    </div>
                </form>
            </div>
        </body>
    </html>